.drums {
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}

.c0 {
    display: grid;
    background: rgb(1, 250, 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

.c0flash {
    display: grid;
    background: rgb(0, 139, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

.c1 {
    display: grid;
    background-color: rgb(0, 251, 255);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

.c1flash {
    display: grid;
    background-color: rgb(2, 165, 165);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

.c2 {
    display: grid;
    background-color: rgb(255, 4, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid rgb(75, 0, 130);
}

.c2flash {
    display: grid;
    background-color: rgb(170, 4, 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

.c3 {
    display: grid;
    background-color: rgb(251, 255, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

.c3flash {
    display: grid;
    background-color: rgb(157, 160, 0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid indigo;
}

#message {
    display: grid;
    grid-area: top;
    height: 150px;
    width: 300px;
    flex-direction: row;
    color: rgb(236, 10, 217)
}




  